body{
    color:white;
    background-color: #00001a;
    height: 2000px;
    line-height: 25px;
}
#top-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
h1{
    margin: 26px 0px 20px 10px;
    font-size: 35px;
}
#menu ul{
    margin: 30px 20px 20px 20px;
    list-style: none;
    font-size: 18px;
}
#menu li{
    display: inline;
    padding: 5px;
}
#menu a:link,a:visited{
    color: white;
    text-decoration: none;
}
#menu a:hover{
    background-color: white;
    color: #00001a;
    border-radius: 10px;
}
#top-pics{
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
}
#top-pics img{
    width: 25%;
}
#top-text{
    text-align: center;  
    background-color: white;
    color: #00001a;
    width: 40%;
    margin: 50px 400px 30px 545px;
    padding: 8px 20px 10px 20px;
    border-radius: 15px;
}