body{
    color:white;
    background-color: #00001a;
    height: 2000px;
}
#top-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
h1{
    margin: 20px 0px 20px 10px;
    font-size: 35px;
}
#menu ul{
    margin: 30px 20px 20px 20px;
    list-style: none;
    font-size: 18px;
}
#menu li{
    display: inline;
    padding: 5px;
}
#menu a:link,a:visited{
    color: white;
    text-decoration: none;
}
#top-pics{
    height: 300px;
    display: flex;
    flex-wrap: nowrap;
}
#top-pics img{
    width: 25%;
}
