body{
    color:white;
    background-color: #00001a;
    height: 2000px;
    line-height: 25px;
}
#top-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
h1{
    margin: 22px 0px 20px 10px;
    font-size: 37px;
}
h1 a:link{
    text-decoration: none;
}
#top-box img{
    height: 65px;
    width: 65px;
}
#logo{
    display: flex;
    flex-wrap: nowrap;
}
#menu ul{
    margin: 28px 20px 20px 20px;
    list-style: none;
    font-size: 19px;
}
#menu li{
    display: inline;
    padding: 5px;
}
#menu a:link,a:visited{
    color: white;
    text-decoration: none;
}
#menu a:hover{
    background-color: white;
    color: #00001a;
    border-radius: 10px;
}