body{
    color:white;
    background-color: #00001a;
    height: 1500px;
    line-height: 25px;
}
#top-box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
h1{
    margin: 22px 0px 20px 15px;
    font-size: 37px;
}
h1 a:link{
    text-decoration: none;
}
#top-box img{
    height: 65px;
    width: 65px;
    margin: 2px 2px 15px 2px;
}
#logo{
    display: flex;
    flex-wrap: nowrap;
}
#menu ul{
    margin: 25px 20px 20px 20px;
    list-style: none;
    font-size: 19px;
}
#menu li{
    display: inline;
    padding: 5px;
}
#menu a:link,a:visited{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    border-top: 3px solid #00001a;
    border-bottom: 3px solid #00001a;
    padding: 20px 0px;
}
#menu a:hover{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding: 5px 0px;
}